@import '_colors.scss';  

body {
    height: 100%;
    margin: 0;
    padding: 0;
    max-width: 100%;
    background-color: $primary; 
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $secondary;
        overflow: hidden;
}

@media only screen and (max-width: 980px) {
    .container {
        flex-direction: column-reverse;
    }
    .container :nth-child(1) { order: 3; }
    .container :nth-child(2) { order: 1; }
    .container :nth-child(3) { order: 2; }
}