@import '../Styles/_colors.scss'; 

.activeShow {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    
    .activeImage {
        width: 240px;      
    }
}

.activeTextContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0px;

    .activeDetailsContainer {
        display: flex;
        flex-direction: column;
        align-items: center;

        .episodesText {
            margin: 8px 0 0;
            font-family: 'Raleway', sans-serif;
        }

        .titleText {
            margin: 0px;
            padding-bottom: 20px;
        }
    }
}

.containerOrder {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 980px) {
    .activeShow {
        .activeDetailsContainer{
            .titleText {
                padding-bottom: 0px;
            }
            .episodesText {
                padding-bottom: 20px;
            }
        }
    }
        
    .activeImage {
        width: 200px;
        transform: translateX(0px) translateZ(0px)!important;
    }

}


